<div class="panel" ng-controller="QUERYRESULTPANEL">
	<table class="queryResultTable panel">
		<tr>
			<td class="queryResultCustId" ng-click="booleanChoose('CUST_ID')">客戶編號
				<span class="sortorder" ng-show="orderFlag === 'CUST_ID'" ng-class="{reverse: reverse}"></span>
			</td>
			<td class="queryResultCustId" ng-click="booleanChoose('CUST_NAME')">客戶名稱
				<span class="sortorder" ng-show="orderFlag === 'CUST_NAME'" ng-class="{reverse: reverse}"></span>
			</td>
			<td class="queryResultCustId" ng-click="booleanChoose('VIP_CODE')">等級
				<span class="sortorder" ng-show="orderFlag === 'VIP_CODE'" ng-class="{reverse: reverse}"></span>
			</td>
			<td class="queryResultCustId" ng-click="booleanChoose('DEPOSIT')">存款
				<span class="sortorder" ng-show="orderFlag === 'DEPOSIT'" ng-class="{reverse: reverse}"></span>
			</td>
			<td class="queryResultCustId" ng-click="booleanChoose('ENTRY_DATE')">入會日期
				<span class="sortorder" ng-show="orderFlag === 'ENTRY_DATE'" ng-class="{reverse: reverse}"></span>
			</td>
		</tr>
		<tr ng-repeat="x in custData  | filter : inputValue   | orderBy : orderFlag : reverse | limitTo : pageSize : (pageNow-1) * pageSize ">
			<td class="queryResultCustId"  ng-bind="x.CUST_ID" ng-click="toUpdate(x)"></td>
			<td ng-bind="x.CUST_NAME"></td>
			<td ng-repeat="y in custGrads | memberGradFilter : x.VIP_CODE" ng-bind="y.PARAM_NAME"></td>
			<td ng-bind="x.DEPOSIT | memberDEPOSITFilter "></td>
			<td ng-bind="x.ENTRY_DATE | date:'yyyy/MM/dd'"></td>
		</tr>
	</table>



	<nav aria-label="Page navigation example" ng-if="pageNow != 0" style="margin-top: 30px;">
		<ul class="pagination justify-content-center">
			<li class="page-item " ng-class="{disabled : pageNow == 1 }">
				<a class="page-link" href="#" tabindex="-1" ng-click="changePage(pageNow-1)">Previous</a>
			</li> 

			<li class="page-item" ng-repeat="x in pageTotal | custLimitTo : pageNow :pageTotal">
				<a class="page-link " ng-class="{currentPage : x+1 == pageNow }" ng-bind="x+1" ng-click="changePage(x+1)"></a>
			</li> 

			<li class="page-item" ng-class="{disabled : pageNow == pageTotal.length }">
				<a class="page-link"  href="#" ng-click="changePage(pageNow+1)">Next</a>
			</li>

		</ul>
	</nav	> 



</div>