<div class="panel" ng-controller="QUERYRESULTPANEL">
		<table class="queryResultTable panel">
			<tr>
				<td>客戶編號</td>
				<td>客戶名稱</td>
				<td>等級</td>
				<td>存款</td>
				<td>入會日期</td>
			</tr>
			<tr ng-repeat="x in custData  |filter : inputValue   ">
				<td ng-bind="x.CUST_ID"></td>
				<td ng-bind="x.CUST_NAME"></td>
				<td ng-repeat="y in custGrads |filter : x.VIP_CODE" ng-bind="y.PARAM_NAME"></td>
				<td ng-bind="x.DEPOSIT | number : 0"></td>
				<td ng-bind="x.ENTRY_DATE | date:'yyyy/MM/dd'"></td>
			</tr>  
 
	</div>