<div class="panel " ng-controller="UPDATEPANEL">

	<div class="PanelTitle">更新客戶資料</div>
	<form class="queryNUpdatePanel" name="queryNUpdatePanel">
		<div>
			<span>客戶編號：</span>
			<input type="text" placeholder=" 請輸入..." name="CUST_ID" ng-model="inputValue.CUST_ID" ng-init="inputValue.CUST_ID=''" ng-required="true" />
		</div>
		<div>
			<span>客戶名稱：</span>
			<input type="text" placeholder=" 請輸入..." name="CUST_NAME" ng-model="inputValue.CUST_NAME" ng-init="inputValue.CUST_NAME=''" ng-required="true" />
		</div>
		<br>
		<div>
			<span>等級：</span>
			<select ng-model="inputValue.RESETGRADSELECT" ng-options="custGrad.PARAM_NAME for custGrad in custGrads" ng-init="inputValue.RESETGRADSELECT=''">
				<option value="">請選擇</option>
			</select>
		</div>
		<div>
			<span>存款：</span>
			<input type="text" name="DEPOSIT" ng-model="inputValue.DEPOSIT" ng-init="inputValue.DEPOSIT=''" />
		</div>
		<br>
		<div>
			<span>入會日期：</span>
			<input type="date" placeholder=" 年/月/日" ng-model="inputValue.ENTRY_DATE" ng-init="inputValue.ENTRY_DATE=''" />
		</div>
		<hr>
		<button class="btn" ng-click="( queryNUpdatePanel.CUST_ID.$valid && queryNUpdatePanel.CUST_NAME.$valid ) &&  updateCustomer() ">查詢</button>&nbsp;
		<button ng-click="clear()">清除</button>
	 
	</form> 
</div>